*{
    padding:0 ;
    margin: 0;
    font-family: sans-serif;
}
.App{
    padding: 1.5rem;
    background: #000000;
    color: white;
}
.movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.search_nav{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-bottom: 1.5rem;
}
.title{
    padding-right: 3rem;
}
.test{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

input , button{
    padding: 0.3rem;
    border-radius: 25px;
    cursor: pointer;
}